:root,
[data-theme="light"] {
  --color-background: #ffffff;
  --color-foreground: #09090b;
  --color-surface: #f4f4f5;
  --color-surface-elevated: #ffffff;

  --color-brand-light: #09090b;
  --color-brand-dark: #18181b;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #09090b;
  --color-secondary: #e4e4e7;
  --color-tertiary: #d4d4d8;
  --color-destructive: #e11d48;

  --color-muted: #71717a;
  --color-border: #e4e4e7;
  --color-ring: #09090b;

  --color-input-bg: #ffffff;
  --color-input-border: #e4e4e7;
  --color-input-placeholder: #a1a1aa;

  --color-card-bg: #ffffff;
  --color-card-border: #e4e4e7;

  --color-error: #e11d48;

  --color-disable-bg: #f4f4f5;
  --color-disable-text: #a1a1aa;

  --color-warning-bg: #fffbeb;
  --color-warning-text: #b45309;
  --color-warning-border: #fde68a;

  --color-error-bg: #fff1f2;
  --color-error-text: #be123c;
  --color-error-border: #fecdd3;

  --color-info-bg: #f0fdf4;
  --color-info-text: #15803d;
  --color-info-border: #bbf7d0;

  --color-success-bg: #ecfdf5;
  --color-success-text: #047857;
  --color-success-border: #a7f3d0;
}

[data-theme="dark"] {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-surface: #121215;
  --color-surface-elevated: #18181b;

  --color-brand-light: #fafafa;
  --color-brand-dark: #f4f4f5;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #fafafa;
  --color-secondary: #27272a;
  --color-tertiary: #3f3f46;
  --color-destructive: #f43f5e;

  --color-muted: #a1a1aa;
  --color-border: #27272a;
  --color-ring: #fafafa;

  --color-input-bg: #121215;
  --color-input-border: #27272a;
  --color-input-placeholder: #71717a;

  --color-card-bg: #121215;
  --color-card-border: #27272a;

  --color-error: #f43f5e;

  --color-disable-bg: #18181b;
  --color-disable-text: #71717a;

  --color-warning-bg: #2e1d08;
  --color-warning-text: #f59e0b;
  --color-warning-border: #78350f;

  --color-error-bg: #2c0b0e;
  --color-error-text: #f87171;
  --color-error-border: #7f1d1d;

  --color-info-bg: #0d1b3e;
  --color-info-text: #60a5fa;
  --color-info-border: #1d4ed8;

  --color-success-bg: #062016;
  --color-success-text: #34d399;
  --color-success-border: #047857;
}
